/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* // @import url("@hashicorp/design-system-tokens/dist/products/css/tokens.css"); */

/* // for product applications (Ember apps) */

/* @import url("@hashicorp/design-system-tokens/dist/products/css/tokens.css"); */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Light theme by default */
html {
  color-scheme: light;
}

/* Dark theme, activated by user preference or toggle */
html.dark-theme {
  color-scheme: dark;

  --background-color: #333;
  --text-color: #fff;
  --accent-color: #f0ad4e;
  --header-color: #46ecbd;
}

/* Specific color customizations for each theme */
:root {
  --background-color: #fff;
  --text-color: #333;
  --accent-color: #007bff;
  --header-color: #0d8655;
}

/* Rest of your styles... */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

#leaflet-map,
#ol-map {
  height: calc(100vh - 50px);
}

#charts {
  height: 50vh;
}

#d3 {
  position: relative;
  height: calc(100vh - 200px);
  width: calc(100vw - 16px);

  canvas {
    /* background-color: aquamarine; */
  }
}

.tooltip {
  position: absolute;
  background: goldenrod;
}

.hiddenCanvas {
  display: none;
}

h2 {
  color: blueviolet;
}
